In [1]:
import nltk
p = nltk.PorterStemmer()
import re

In [2]:
regex = re.compile('[^a-zA-Z ]')

In [3]:
prompt_file = './output/gen_captions/perplexity_score/sim_.8_.91/cap_val_2017.txt'
origin_caption = {}
counter_caption = {}
with open(prompt_file, 'r') as infile:
    for l in infile:
        if l[-1] == '\n':
            l = l[:-1]
        index, origin, counter = l.split('\t')
        origin_caption[index] = origin
        counter_caption[index] = counter

In [4]:
print(f'len of counterfactual captions: {len(counter_caption)}')

len of counterfactual captions: 24508

In [5]:
def extract_replaced_words(original, counter):
    original = regex.sub('', original)
    counter = regex.sub('', counter)
    
    original=original.split()
    # print(original)
    counter=counter.split()
    # print(counter)
    replaced_word = None
    being_replaced_word = None
    i, j = -1, -1
    for i, w in enumerate(original):
        if w not in counter:
            being_replaced_word = w
            break
    for j, w in enumerate(counter):
        if w not in original:
            replaced_word = w
            break
    if replaced_word == None and being_replaced_word != None:
        replaced_word = original[j]
    if being_replaced_word == None and replaced_word != None:
        being_replaced_word = counter[i]
    if being_replaced_word == None and replaced_word == None:
        print('Error', original, counter)
    return being_replaced_word, replaced_word

In [6]:
changed_words = {}
replacing_words = {}
stem_word_map = {}
changed_word_info = []
for index in origin_caption.keys():
    being_replaced_word, replaced_word = extract_replaced_words(origin_caption[index], counter_caption[index])
    if being_replaced_word != None and replaced_word != None:
        stem_word_map[p.stem(being_replaced_word)] = being_replaced_word
        stem_word_map[p.stem(replaced_word)] = replaced_word
        changed_words[index] = {'origin_word' : being_replaced_word, 
                                'counterfactual_word' : replaced_word,
                                'origin_stem_word' : p.stem(being_replaced_word),
                                'counterfactual_stem_word' : p.stem(replaced_word),
                               }
        changed_word_info.append({'origin_word' : being_replaced_word, 
                                'counterfactual_word' : replaced_word,
                                'origin_stem_word' : p.stem(being_replaced_word),
                                'counterfactual_stem_word' : p.stem(replaced_word),
                                  'index' : index,
                               })

In [4]:
# WRONG
# def preprocess_captions(cap):
#     cap = cap.replace('"', '')
#     cap = cap.replace('`', '')
#     cap = cap.replace("'", '')
#     cap = cap.replace(")", '')
#     cap = cap.replace("(", '')
#     return cap
# def process_words(word):
#     word = word.replace('.', '')
#     return word
# def extract_replaced_words(original, counter):
#     original = preprocess_captions(original)
#     counter = preprocess_captions(counter)
    
#     original=original.split()
#     counter=counter.split()
#     replaced_word = None
#     being_replaced_word = None
#     for i in original:
#         if i not in counter:
#             being_replaced_word = i
#             break
#     for i in counter:
#         if i not in original:
#             replaced_word = i
#             break
#     if being_replaced_word != None and being_replaced_word[-1] == '.':
#         being_replaced_word = being_replaced_word[:-1]
#     if replaced_word != None and replaced_word[-1] == '.':
#         replaced_word = replaced_word[:-1]
#     return being_replaced_word, replaced_word

In [7]:
#WRONG
# changed_words = {}
# replacing_words = {}
# stem_word_map = {}
# for index in origin_caption.keys():
#     being_replaced_word, replaced_word = extract_replaced_words(origin_caption[index], counter_caption[index])
#     if being_replaced_word != None and replaced_word != None:
#         being_replaced_word = process_words(being_replaced_word)
#         replaced_word = process_words(replaced_word)
#         stem_word_map[p.stem(being_replaced_word)] = being_replaced_word
#         stem_word_map[p.stem(replaced_word)] = replaced_word
#         changed_words[index] = {'origin_word' : being_replaced_word, 
#                                 'counterfactual_word' : replaced_word,
#                                 'origin_stem_word' : p.stem(being_replaced_word),
#                                 'counterfactual_stem_word' : p.stem(replaced_word),
#                                }

In [31]:
ind = '227511_0'
print(f'original caption: {origin_caption[ind]}')
print(f'counterfactual caption: {counter_caption[ind]}')
print(changed_words[ind])

original caption: Several cars parked along the side of a street next to a street sign.
counterfactual caption: Several cars parked along the side of a street next to a street light.
{'origin_word': 'sign', 'counterfactual_word': 'light', 'origin_stem_word': 'sign', 'counterfactual_stem_word': 'light'}

In [8]:
path_to_images = '../../coco-counterfactuals/synthetic-images-for-counterfactual-captions'
from os import listdir
from os.path import isfile, join
onlyfiles = [f.split('.jpg')[0] for f in listdir(path_to_images) if isfile(join(path_to_images, f))]

In [9]:
len(changed_word_info)

24508

In [10]:
changed_words_coco_cfs = [d for d in changed_word_info if d['index'] in onlyfiles]

In [11]:
len(changed_words_coco_cfs)

17410

In [14]:
# changed_words_coco_cfs

In [12]:
import pandas as pd
df = pd.DataFrame(changed_words_coco_cfs)

In [30]:
df[(df['origin_stem_word']=='sign') & (df['counterfactual_stem_word']=='light')]

,origin_word,counterfactual_word,origin_stem_word,counterfactual_stem_word,index
1852,sign,light,sign,light,227511_0
2768,sign,light,sign,light,232646_2
3078,signs,lights,sign,light,374727_3
3211,sign,light,sign,light,579893_3
3537,signs,lights,sign,light,550939_1
3538,sign,lights,sign,light,550939_2
3539,signs,lights,sign,light,550939_3
3674,signs,lights,sign,light,448810_3
3887,signs,lights,sign,light,528977_4
3891,sign,light,sign,light,104198_2
3944,signs,lights,sign,light,410712_3
4080,signs,lights,sign,light,514540_3
4083,sign,light,sign,light,724_4
4326,signs,lights,sign,light,333697_1
4939,sign,light,sign,light,88218_3
4944,signs,lights,sign,light,278006_3
5005,sign,light,sign,light,126592_3
5101,sign,light,sign,light,309173_0
5103,sign,light,sign,light,309173_2
5142,signs,lights,sign,light,322864_2
5280,sign,light,sign,light,100283_2
6076,sign,light,sign,light,153568_0
6286,sign,light,sign,light,212072_4
6916,sign,light,sign,light,122745_0
7270,sign,light,sign,light,565153_4
9145,sign,light,sign,light,90956_3
16144,signs,lights,sign,light,94185_3

In [14]:
df[(df['origin_word']=='hotel')]

,origin_word,counterfactual_word,origin_stem_word,counterfactual_stem_word,index
3165,hotel,train,hotel,train,347544_4
3279,hotel,church,hotel,church,514376_3
5956,hotel,waterfall,hotel,waterfal,539962_0
5958,hotel,house,hotel,hous,539962_3
6442,hotel,beach,hotel,beach,500211_0
6445,hotel,restaurant,hotel,restaur,500211_4
7584,hotel,outdoor,hotel,outdoor,266981_4
11416,hotel,basement,hotel,basement,384651_4
11538,hotel,conference,hotel,confer,218091_1
11747,hotel,room,hotel,room,483050_3
11763,hotel,living,hotel,live,50828_1
11764,hotel,living,hotel,live,50828_4
12135,hotel,living,hotel,live,213422_0
12277,hotel,living,hotel,live,7795_0
12278,hotel,living,hotel,live,7795_1
12279,hotel,living,hotel,live,7795_4
12774,hotel,living,hotel,live,71451_2
13126,hotel,living,hotel,live,10995_1
13171,hotel,living,hotel,live,442323_2
13173,hotel,living,hotel,live,442323_4
13491,hotel,living,hotel,live,51738_4
13983,hotel,on,hotel,on,16439_3
14269,hotel,living,hotel,live,29596_1
14424,hotel,office,hotel,offic,511647_3

In [15]:
df1 = df.value_counts(subset=['origin_stem_word', 'counterfactual_stem_word']).reset_index(name='count')

In [16]:
df1

     origin_stem_word counterfactual_stem_word  count
0                 man                      boy    467
1               peopl                      men    260
2               woman                     girl    250
3              person                      man    129
4              person                    woman    107
...               ...                      ...    ...
9464           friend                  student      1
9465           friend                  husband      1
9466           friend               girlfriend      1
9467           friend                     girl      1
9468              log                    field      1

[9469 rows x 3 columns]

In [17]:
ori_word = [stem_word_map[s] for s in df1['origin_stem_word'].to_list()]
counter_word = [stem_word_map[s] for s in df1['counterfactual_stem_word'].to_list()]
df1['origin_word'] = ori_word
df1['counterfactual_word'] = counter_word

In [18]:
df1

,origin_stem_word,counterfactual_stem_word,count,origin_word,counterfactual_word
0,man,boy,467,man,boys
1,peopl,men,260,people,men
2,woman,girl,250,woman,girl
3,person,man,129,person,man
4,person,woman,107,person,woman
...,...,...,...,...,...
9464,friend,student,1,friends,students
9465,friend,husband,1,friends,husband
9466,friend,girlfriend,1,friends,girlfriend
9467,friend,girl,1,friends,girl
9468,log,field,1,log,field

In [19]:
df1.to_csv('frequency_replaced_words.csv', index=False, header=True)

In [20]:
df2 = df1.groupby('counterfactual_stem_word')['count'].sum().reset_index()

In [21]:
df2 = df2.sort_values(by=['count'], ascending=[False])

In [22]:
df2.to_csv('frequency_used_counterfactual_words.csv', header=True, index=False)

In [23]:
df2

     counterfactual_stem_word  count
155                       boy    777
605                      girl    568
833                       man    471
238                       car    358
857                       men    324
...                       ...    ...
361                    corona      1
1174                    rusti      1
1175                    saddl      1
358                      core      1
0                        abov      1

[1597 rows x 2 columns]

In [24]:
stem_word_map['live']

'living'

In [28]:
df1[(df1['origin_stem_word']=='man') & (df1['counterfactual_stem_word']=='boy')]

,origin_stem_word,counterfactual_stem_word,count,origin_word,counterfactual_word
0,man,boy,467,man,boys